@import "./layout/intro";
@import "./layout/main";
@import "./layout/footer";
@import "./utilities/extend";
@import "./utilities/maps";
@import "./utilities/mixin";
@import "./utilities/variables";
@import "./parcials/reparto";
@import "./parcials/temporadas";

body {
    font-family: 'Bitter', serif;
    header {
        position:sticky;
        z-index:1 ;
        top:0;
        li {
             padding: 0 0.6rem;
            font-size: 20px;
            @media screen and (max-width:768px) {font-size: 15px;}
            a {text-decoration: none;} 
            
        }
    }
}


nav{
    background: rgb(26,26,26);
    background: radial-gradient(circle, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
    height: 4.8rem;
    |ul{
        list-style: none;
        padding: 1rem 2rem;
        display: flex; 
    }
}
.bar  {
    nav {
        ul { 
            li:hover{
            transform: scale(1.2);  
            transition: all 0.7s;
            } 
        }
    } 
}
.bar nav ul li a:hover{
    color: red !important;
    transition: all 0.7s
}
.row {
    color: $col-blanco;
    @extend %disposicionX;
}
.column {
    @extend %disposicionY;
}
#parallax {
    @include parallax ($parallaxf, $nr, $cr);
}
footer { background: map-get($footer , bg );

        p {
            font-size: 2.5rem;
            color: white;
        }
    }