@import "./parcials/intro";
@import "./layout/footer";
@import "./utilities/extend";
@import "./utilities/maps";
@import "./utilities/mixin";
@import "./utilities/variables";

body {
    font-family: 'Bitter', serif;
    header {
        position:sticky;
        z-index:1 ;
        top:0;
        li {
             padding: 0 0.6rem;
            font-size: 20px;
            a 
            {text-decoration: none;}
        }
    }
}

|ul{
    list-style: none;
    padding: 1rem 2rem;
    display: flex; 
}
nav{
    background: rgb(26,26,26);
    background: radial-gradient(circle, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
    height: 4.8rem;
}
.row {
    color: $col-blanco;
    @extend %disposicionX;
}
.column {
    @extend %disposicionY;
}
#parallax {
    @include parallax ($parallaxf, $nr, $cr);
}