.formulario {
    width: 700px;
    background: #f7dcdc;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgb(154, 28, 28);
    @media screen and (max-width:750px) {width: 500px;}
    @media screen and (max-width:530px) {width: 300px;}
    
  }
  
  .formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .controls {
    width: 100%;
    background: #000000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ff0000;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .formulario a {
    color: white;
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .formulario .botons {
    width: 100%;
    background: #ff0000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }