@import "../utilities/variables";
.titulo1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color:$col-blanco ;
    @media screen and (max-width:1300px) {font-size: 30px;}
    @media screen and (max-width:768px) {font-size: 40px;}
}
.titulo2{
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color:$col-blanco ;
    @media screen and (max-width:1300px) {font-size: 30px;}
    @media screen and (max-width:768px) {font-size: 20px;}
}
.titulo3{
    font-weight: 900;
    font-size: 140px;
    text-align: center;
    color:$col-blanco ;
    @media screen and (max-width:1300px) {font-size: 110px;}
    @media screen and (max-width:768px) {font-size: 100px;}
    @media screen and (max-width:510px) {font-size: 60px;}
}  
.titulo4{
    font-family: 'Roboto Slab', serif;
    border-radius: 50px;
    height: 50px;
    width: 350px;
    background: $col-rojo;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    color: $col-blanco;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}  
.titulo4:hover{
  transform:scale(1.1);
  background: rgb(149,0,0);
  background: linear-gradient(90deg, rgba(149,0,0,1) 0%, rgba(255,0,0,1) 100%);
}

#parallax{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../imagenes/peaky_blinders_derivados.jpeg_293974595.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    @media screen and (max-width:768px) {height: 80vh; background-attachment: scroll;}
}
#parallax3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../imagenes/arthur_shelby_-_peaky_blinders.jpg_522314038.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
    @media screen and (max-width:768px) {height: 80vh; background-attachment: scroll;}
}   
.flecha{
    box-sizing: content-box;
    height: 25rem;
    display: flex;
    align-items: center;
    @media screen and (max-width:1300px) {height:10rem;}
}
.boina{ 
    height: 80px;
    padding-left: 3.2rem;
    transition: all 0.5s;
    @media screen and (max-width:768px) {padding: 0;
      height: 70px;}
 }
 .boina:hover{
  transform: scale(1.2);
  rotate: 20deg;
}
.boxintro{
  background: #141414;
  height: 65vh;
  @media screen and (max-width:1300px) {height: 40rem;}
  @media screen and (max-width:993px) {height: 55rem;}
  @media screen and (max-width:768px) {height: 55rem;}
}
.trama-text1 {
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 80px;
    font-weight: 300;
    padding-top: 3rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text2 {
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 70px;
    font-weight: 700;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text3 {
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 60px;
    font-weight: 500;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text4 {
    text-align: end;
    color: red;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 60px;
    font-weight: 100;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text5 {
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 70px;
    font-weight: 300;
    padding-top: 1.5rem; 
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text6 {
    text-align: center;
    color: red;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 70px;
    font-weight: 700;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text7 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
    font-weight: 100;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
.trama-text8 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 70px;
    font-weight: 500;
    padding-top: 1.5rem;
    @media screen and (max-width:994px) {font-size: 40px;}
}
    