.main{
    padding-top: 25rem;
    @media screen and (max-width:1300px) {padding-top:5rem;}
}
.main1{
    padding-top: 6rem;
}
.row{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#subtitulo{
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
    @media screen and (max-width:1300px) {font-size: 3.5rem;}
    @media screen and (max-width:768px) {height: 13rem; display: flex;
        flex-direction: row; justify-content: center;}
}
.box-trama  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),url(../imagenes/arthur_shelby_-_peaky_blinders.jpg_522314038.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#background-video {
    max-width: 100%;
}
.trama1{
    color: white;
    width: 80%;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    @media screen and (max-width:768px) {flex-wrap: wrap;
        padding-left: 100px;}
}  
.trama-text {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    @media screen and (max-width:1300px) {font-size: 1.5rem;}
}
#donde-ver{
    font-size: 9rem;
    color: white;
    text-align: center;
    padding-top: 4rem;
    @media (max-width: 992px) {font-size: 6rem;}
    @media (max-width: 768px) {font-size: 5rem;}

}
.dondever-iconos {
    display: flex;
    @media (max-width: 992px) {
        display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .netflix{
    height: 11rem;
    width: 11rem;
    transition: all 0.2s;
}
.netflix:hover { background-color: #3b3c3d;
    border-radius: 7px;
    transition: all 0.2s;

}