@import "../utilities/variables";
.titulo1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color:$col-blanco ;
}
.titulo2{
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color:$col-blanco ;
}
.titulo3{
    font-weight: 900;
    font-size: 140px;
    text-align: center;
    color:$col-blanco ;
}  
.titulo4{
    font-family: 'Roboto Slab', serif;
    border-radius: 50px;
    height: 50px;
    width: 350px;
    background: $col-rojo;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    color: $col-blanco;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}  
button {
    font-size: 2em;
    background: $col-rojo;
    color: $col-negro;
    border: 0.25rem $col-rojo;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
button:hover {
    color: $col-rojo;
}
button::after {
    content: "";
    background: $col-negro;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  button[class^="slide"]::after {
    transition: all 0.35s;
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
#parallax{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../imagenes/peaky_blinders_derivados.jpeg_293974595.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
}
#parallax3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../imagenes/arthur_shelby_-_peaky_blinders.jpg_522314038.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
}   
.flecha{
    box-sizing: content-box;
    height: 25rem;
    display: flex;
    align-items: center;
}
.boina{ 
    height: 80px;
    padding-left: 3.2rem;
    transition: all 0.5s;
 }